@font-face {
    font-family: 'Open Sans';
    src: url('../font/OpenSans-ExtraBold.ttf') format("truetype");
    font-weight: 900;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../font/OpenSans-Bold.ttf') format("truetype");
    font-weight: 700;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../font/OpenSans-Regular.ttf') format("truetype");
    font-weight: 500;
}

body {
    margin: 0;
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
    font-weight: 500;
    color: #172144;
}

h1 {
    font-weight: 900;
    font-size: 64px;
}

h2 {
    font-size: clamp(24px, 1.8vw, 52px);
    font-weight: 700;
}

blockquote, button {font-family: 'Open Sans', sans-serif;font-size: 15px;}

span {font-weight: 700;}

button {
    width: 153px;
    height: 43px;
    background: #6182E1;
    border-radius: 25px;
    border: 0;
    color: white;
    &:hover {background: #618FFF;}
}