@font-face {
    font-family: 'Open Sans';
    src: url('../font/OpenSans-Bold.ttf') format("truetype");
    font-weight: 700;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../font/OpenSans-Regular.ttf') format("truetype");
    font-weight: 500;
}

body {
    margin: 0;
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
    font-weight: 500;
    color: #172144;
}

h2 {
    font-size: clamp(24px, 1.8vw, 52px);
    font-weight: 700;
}

span {font-weight: 700;}