 @font-face {
    font-family: 'Open Sans';
    src: url('../font/OpenSans-Regular.ttf') format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../font/OpenSans-ExtraBold.ttf') format("truetype");
    font-weight: bold;
}

body {
    margin: 0;
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    color: #172144;
}

h1 {
    font-weight: bold;
    font-size: 64px;
}

p {
    font-size: 15px;
}

button {
    font-family: 'Open Sans', sans-serif;
    width: 153px;
    height: 43px;
    font-size: 15px;
    background: #6182E1;
    border-radius: 25px;
    border: 0;
    color: white;
    &:hover {background: #618FFF;}
}