.main {
    &-presentation {
        background-image: url('../svg/map.svg');
        background-repeat: no-repeat;
        background-position: 115%;
        height: 100vh;
        &-text {
            position: relative;
            left: calc(100vw - 85vw);
            top: calc(100vh - 63vh);
            display: flex;
            gap: 2vh;
            flex-direction: column;
            align-items: flex-start;
            &-title {
                width: 8ch;
                margin: 0;
            }
            &-quote {
                margin: 0;
                border-left: 2px solid #4F75E2;
                letter-spacing: 0.2em;
                padding-left: 1.5vw;
                margin-left: 1vw;
                line-height: 30px;
                width: 60ch;
            }
            &-line {z-index: 100;}
        }
    }
}