.main {
    &-presentation {
        position: absolute;
        left: calc(100vw - 85vw);
        top: calc(100vh - 70vh);
        display: flex;
        gap: 2vh;
        flex-direction: column;
        align-items: flex-start;
        &-title {
            width: 8ch;
            margin: 0;
        }
        &-text {
            margin: 0;
            border-left: 2px solid #4F75E2;
            letter-spacing: 0.2em;
            font-size: 15px;
            padding-left: 1.5vw;
            margin-left: 1vw;
            line-height: 30px;
            width: 60ch;
        }
        &-line {
            z-index: 100;
        }
    }
    &-map {
        position: absolute;
        display: flex;
        left: calc(100vw - 68vw);
        z-index: -100;
    }
}