$margin-left: 15%;
$gap: 1vw;

.ribbon {
    background-image: url('../svg/ribbon.svg');
    background-repeat: no-repeat;
    background-position: 55% 0;
    height: 58vh;
    margin: -0.5%;
    z-index: 50;
    &-content {
        color: white;
        display: flex;
        height: 80%;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 2% $margin-left;
    }
}

.main {
    &-presentation {
        background-image: url('../svg/map.svg');
        background-repeat: no-repeat;
        background-position: 115%;
        height: 100vh;
        &-text {
            position: relative;
            left: $margin-left;
            top: calc(100vh - 63vh);
            display: flex;
            gap: 2vh;
            flex-direction: column;
            align-items: flex-start;
            &-title {
                width: 8ch;
                margin: 0;
            }
            &-quote {
                margin: 0;
                border-left: 2px solid #4F75E2;
                letter-spacing: 0.2em;
                padding-left: 1.5vw;
                margin-left: 1vw;
                line-height: 30px;
                width: 60ch;
            }
            &-line {z-index: 100;}
        }
    }
    &-recruitment {
        &-title {margin: 0;}
        &-top {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 0.5vw;
            &-img {height: 8vh;}
            &-text {width: 53ch;}
        }
        &-sections {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            &-section {
                &-description {
                    display: flex;
                    align-items: center;
                    gap: $gap;
                    &-text {
                        margin: 0;
                        width: 35ch;
                    }
                }
            }
        }
    }
    &-training {
        color: #4F75E2;
        padding: 2% $margin-left;
        &-title {margin: 0;}
        z-index: -50;
        &-section {
            display: flex;
            justify-content: space-around;
            align-items: center;
            &-element {
                display: flex;
                align-items: center;
                gap: $gap;
                &-text {width: 45ch;}
                &-left {
                    padding-right: 8%;
                    border-right: 2px solid black;
                    &-bot {border-right: 2px solid #4F75E2;}
                }
            }
        }
        &-top {
            color: #172144;
            &-leftimg {height: 10vh;}
            &-right {
                flex-direction: column;
                gap: 0.5vh;
                &-elementimg {height: 7vh;}
            }
        }
        &-botimg {height: 8vh;}
    }
    &-consulting {
        &-title {margin: 0;}
        &-steps {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 5vh;
            &-step {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: $gap;
                &-number {height: 12vh;}
                &-description {
                    display: flex;
                    flex-direction: column;
                    &-title {
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        gap: 0.2vw;
                        &-text {margin: 0;}
                    }
                    &-text {width: 40ch;}
                }
            }
        }
    }
}