$header-height: 60px;
$footer-height: 35px;
$margin-left: 15%;
$gap: 1vw;



@font-face {
    font-family: 'Open Sans';
    src: url('font/OpenSans-ExtraBold.ttf') format("truetype");
    font-weight: 900;
}

@font-face {
    font-family: 'Open Sans';
    src: url('font/OpenSans-Bold.ttf') format("truetype");
    font-weight: 700;
}

@font-face {
    font-family: 'Open Sans';
    src: url('font/OpenSans-Regular.ttf') format("truetype");
    font-weight: 500;
}



body {
    margin: 0;
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
    font-weight: 500;
    color: #172144;
}


h1 {
    font-size: clamp(35px, 3.5vw, 65px);
    font-weight: 900;
}

h2 {
    font-size: clamp(24px, 1.8vw, 52px);
    font-weight: 700;
}

h3 {
    font-size: clamp(15px, 1.4vw, 40px);
    font-weight: 500;
}


hr {
    transform: rotate(90deg);
    border-radius: 7px 7px;
}

#separate-dark {
    color: #172144;
    width: 10vh;
}

#separate-blue {
    color: #4F75E2;
    width: 6vh;
}



button {
    width: 153px;
    height: 43px;
    border: 0;
    color: white;
    border-radius: 25px;
    background: #6182E1;
    &:hover {background: #618FFF;}
}


a{text-decoration: none;}

span {
    font-weight: 700;
    font-size: 0.9em;
}


p {font-size: clamp(10px, 0.8vw, 40px);}

blockquote, button {
    font-family: 'Open Sans', sans-serif;
    font-size: clamp(13px, 0.8vw, 20px);
}


.box-shadow {box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.25);}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}



.header {
    position: fixed;
    width: 100%;
    opacity: 95%;
    background-color: white;
    height: $header-height;
    justify-content: space-around;
    z-index: 100;
    &-link {
        height: $header-height;
        &-img {height: 62%;}
    }
    &-topics {
        gap: 5vw;
        &-link {
            &:visited {color: #4F75E2;}
            &:hover {color: #1a4cd4;}
        }
    }
}


.ribbon {
    background-image: url('svg/ribbon.svg');
    background-repeat: no-repeat;
    background-position: 55% 0;
    height: 58vh;
    margin: -0.5%;
    z-index: 50;
    &-content {
        color: white;
        height: 80%;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: unset;
        padding: 2% $margin-left;
    }
}

.main {
    &-presentation {
        background-image: url('svg/map.svg');
        background-repeat: no-repeat;
        background-position: clamp(0vw, 45vw, 60vw);
        height: 100vh;
        &-text {
            position: relative;
            left: $margin-left;
            top: calc(100vh - 63vh);
            gap: 2vh;
            flex-direction: column;
            align-items: flex-start;
            &-title {
                width: 8ch;
                margin: 0;
            }
            &-quote {
                margin: 0;
                border-left: 2px solid #4F75E2;
                letter-spacing: 0.2em;
                padding-left: 1.5vw;
                margin-left: 1vw;
                line-height: 30px;
                width: 60ch;
            }
            &-line {z-index: 100;}
        }
    }
    &-recruitment {
        &-title {margin: 0;}
        &-top {
            gap: $gap;
            &-img {height: 8vh;}
            &-text {width: 53ch;}
        }
        &-sections {
            justify-content: space-evenly;
            &-section {
                &-description {
                    gap: $gap;
                    &-text {
                        margin: 0;
                        width: 35ch;
                    }
                }
            }
        }
    }
    &-training {
        flex-direction: column;
        color: #4F75E2;
        padding: 2% $margin-left;
        z-index: -50;
        &-title {margin: 0;}
        &-content {
            flex-direction: column;
            gap: 3vh;
        }
        &-section {
            justify-content: space-around;
            gap: 2vw;
            &-element {
                gap: $gap;
                &-text {width: 45ch;}
            }
        }
        &-top {
            color: #172144;
            &-leftimg {height: 10vh;}
            &-rightimg {height: 7vh;}
        }
        &-botimg {height: 8vh;}
    }
    &-consulting {
        &-title {margin: 0;}
        &-steps {
            display: grid;
            grid-template-columns: 28vw 28vw;
            align-self: center;
            row-gap: 5vh;
            &-step {
                align-items: flex-start;
                gap: $gap;
                &-number {height: 12vh;}
                &-description {
                    flex-direction: column;
                    align-items: flex-start;
                    &-text {
                        margin: 0.3vh 0 0 0;
                        width: 40ch;
                    }
                    &-title {
                        justify-content: flex-start;
                        gap: 0.2vw;
                        &-text {
                            margin: 0;
                            font-weight: 700;
                        }
                    }   
                }
            }
        }
    }
}


.footer {
    &-contact {
        flex-direction: column;
        &-title {letter-spacing: 0.2em;}
        &-social {
            width: 100%;
            height: $footer-height;
            justify-content: space-evenly;
            gap: 2vw;
            &-network {
                text-decoration: none;
                color: #172144;
                gap: 0.5em;
                &-text {
                    display: none;
                    &-icon {height: 2vh;}
                    &-icon_bubble {height: 2.5vh;}
                }
            }
          }
    }
}



.error {
  &-header {
    position: relative;
    justify-content: center;
  }
  &-main {
    height: calc(100vh - #{$header-height + $footer-height});
    display: grid;
    place-items: center;
    &-content {
        // display: flex;
        // align-items: center;
        flex-direction: column;
        gap: 2vw;
        &-img {height: 25vw;}
        &-text {
          color: #4F75E2;
          text-align: center;
          &-maintenance {width: 31ch;}
          &-notfound {
            &-title {margin: 0;}
            &-description {
                font-size: clamp(12px, 1.3vw, 45px);
                margin-top: 1vh;
                width: 38ch;
            }
          }
        }
    }
  }
}



@media only screen and (min-width: 941px) {
    .footer-contact-social {
        justify-content: center;
        &-network-text {display: block;}
    }

    .error {
        &-main-content {
            flex-direction: row;
            &-img {height: 10vw;}
            &-text {text-align: left;}
        }
    }
}