:root {
  --header-height: 74px;
  --footer-height: 48px;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
}

.header {
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.25);
  height: var(--header-height);
  display: grid;
  place-items: center;
}
.header-img {height: 62%;}

.main {
  height: calc(100vh - (var(--header-height) + var(--footer-height)));
  display: grid;
  place-items: center;
}

.maintenance {
  display: flex;
  flex-direction: column;
  gap: 2vw;
}
.maintenance-img {height: 10vw;}
.maintenance-text {
  color: #4F75E2;
  text-align: center;
  font-size: clamp(10px, 1.5vw, 48px);
  width: 32ch;
}

.footer {
  height: var(--footer-height);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.25);
  gap: 2vw;
}
.footer-link {
  color: #172144;
  display: flex;
  align-items: center;
  font-size: 0.8em;
  text-decoration: none;
  gap: 0.5em;
}
.footer-link-text {display: none;}
.footer-link-text-icon {height: 2vh;}
.footer-link-text-icon_bubble {height: 2.5vh;}

@media only screen and (min-width: 941px) {
  .maintenance {flex-direction: row;}
  .maintenance-text {text-align: left;}

  .footer {justify-content: center;}
  .footer-link-text {display: block;}
}