$header-height: 60px;
$footer-height: 35px;
$margin-left: 15%;
$gap: 1vw;



@font-face {
    font-family: 'Open Sans';
    src: url('font/OpenSans-ExtraBold.ttf') format("truetype");
    font-weight: 900;
}

@font-face {
    font-family: 'Open Sans';
    src: url('font/OpenSans-Bold.ttf') format("truetype");
    font-weight: 700;
}

@font-face {
    font-family: 'Open Sans';
    src: url('font/OpenSans-Regular.ttf') format("truetype");
    font-weight: 500;
}


.blue {color: #4F75E2;}
.dark {color: #172144;}

.mobile {display: unset;}
.other {display: none;}

body {
    margin: 0;
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
    text-align: justify;
    overflow-x: hidden;
    font-weight: 500;
    color: #172144;
}


h1 {
    font-size: 60px;
    font-weight: 900;
}

h2 {
    font-size: clamp(24px, 1.8vw, 52px);
    font-weight: 700;
}

h3 {
    font-size: clamp(15px, 1.4vw, 40px);
    font-weight: 500;
}


hr {border-radius: 7px 7px;}

#separate-blue-mobile {
    width: 40vw;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

button {
    width: 153px;
    height: 43px;
    border: 0;
    color: white;
    border-radius: 25px;
    background: #6182E1;
    &:hover {background: #618FFF;}
}


a{text-decoration: none;}

span {
    font-weight: 700;
    font-size: 0.9em;
}


p {font-size: clamp(10px, 0.8vw, 40px);}

blockquote, button {
    font-family: 'Open Sans', sans-serif;
    font-size: clamp(13px, 0.8vw, 20px);
}


.box-shadow {box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.25);}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}



.header {
    position: fixed;
    width: 100%;
    opacity: 95%;
    background-color: white;
    height: $header-height;
    justify-content: space-around;
    z-index: 100;
    &-topics {display: none;}
    &-burger {display: unset;}
    &-menu {
        display: none;
        position: absolute;
        flex-direction: column;
        background-color: white;
        border-radius: 0% 0% 0% 25%;
        padding: 5px clamp(5px, 10vw, 100px) 10px 10px;
        text-align: right;
        color: #4F75E2;
        top: 5vh;
        right: 0;
        &-link {
            &:visited {color: #4F75E2;}
            &:hover {color: #1a4cd4;}
        }
    }
    &-link {
        height: $header-height;
        &-img {height: 62%;}
    }
}


.ribbon {
    background-image: url('svg/ribbon_mobile.svg');
    background-position: 55% 0;
    background-repeat: no-repeat;
    height: 63vh;
    width: 100%;
    margin-top: -1vh;
    z-index: 50;
    &-content {
        height: 100%;
        color: white;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        padding: 2% $margin-left;
    }
}

.main {
    &-presentation {
        background-image: url('svg/map.svg');
        background-repeat: no-repeat;
        background-position: clamp(0vw, 45vw, 60vw);
        height: 100vh;
        &-text {
            position: relative;
            left: 10vw;
            top: 25vh;
            gap: 2vh;
            flex-direction: column;
            align-items: flex-start;
            &-title {
                width: 8ch;
                margin: 0;
            }
            &-quote {
                margin: 0;
                border-left: 2px solid #4F75E2;
                letter-spacing: 0.2em;
                padding-left: 5vw;
                margin-left: 1vw;
                line-height: 30px;
                width: 30ch;
            }
            &-line {z-index: 100;}
        }
    }
    &-recruitment {
        &-title {margin: 0;}
        &-top {
            flex-direction: column;
            text-align: center;
            &-img {height: 6vh;}
            &-text {width: 53ch;}
        }
        &-sections {
            height: 60%;
            flex-direction: column;
            justify-content: space-evenly;
            &-section {
                flex-direction: column;
                gap: $gap;
                &-title {margin: 0;}
                &-description {
                    gap: 2vw;
                    &-img {height: 6vh;}
                    &-text {
                        margin: 0;
                        width: 35ch;
                    }
                }
            }
        }
    }
    &-training {
        display: flex;
        flex-direction: column;
        color: #4F75E2;
        z-index: -50;
        align-items: center;
        margin: 2vh;
        &-content {
            display: grid;
            grid-template-columns: 1fr;
            row-gap: 3vh;
            place-self: center;
            align-items: center;
            &-section {
                display: flex;
                flex-direction: row;
                &-element {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    gap: $gap;
                    &--row {
                        flex-direction: row;
                        gap: 2vw;
                    }
                    &--small {width: 30vw;}
                    &-text {
                        width: 40ch;
                        text-align: center;
                        &--justify{text-align: justify;}
                        &--black {color: #172144;}
                    }
                    &-img {
                        height: 7vh;
                        &--big {height: 9vh;}
                    }
                }
            }
        }
    }
    &-consulting {
        &-title {margin: 0;}
        &-steps {
            display: flex;
            flex-direction: column;
            gap: 2.5vh;
            &-step {
                align-items: flex-start;
                gap: 3vw;
                &-number {height: 10vh;}
                &-description {
                    flex-direction: column;
                    align-items: flex-start;
                    &-text {
                        margin: 0.3vh 0 0 0;
                        width: 40ch;
                    }
                    &-title {
                        justify-content: flex-start;
                        gap: 0.2vw;
                        &-text {
                            margin: 0;
                            font-weight: 700;
                        }
                    }   
                }
            }
        }
    }
}


.footer {
    &-contact {
        flex-direction: column;
        &-title {letter-spacing: 0.2em;}
        &-social {
            width: 100%;
            height: $footer-height;
            justify-content: space-evenly;
            gap: 2vw;
            &-network {
                color: #172144;
                gap: 0.5em;
                &-text {
                    display: none;
                    &-icon {height: 2vh;}
                    &-icon_bubble {height: 2.5vh;}
                }
            }
          }
    }
}



.error {
  &-header {
    position: unset;
    justify-content: center;
  }
  &-main {
    height: calc(100vh - #{$header-height + $footer-height});
    display: grid;
    place-items: center;
    &-content {
        flex-direction: column;
        gap: 2vw;
        &-img {height: 25vw;}
        &-text {
          color: #4F75E2;
          text-align: center;
          &-notfound {
            &-title {margin: 0;}
            &-description {
                font-size: clamp(12px, 1.3vw, 45px);
                margin-top: 1vh;
                width: 38ch;
            }
          }
        }
    }
  }
}



@media only screen and (min-width: 600px) {
    .mobile {display: none;}
    .other {display: unset;}

    hr {transform: rotate(90deg);}
    #separate-dark-other {width: 10vh;}
    #separate-blue-other {width: 6vh;}

    .header {
        &-burger {display: none;}
        &-menu {display: none;}
        &-topics {
            display: flex;
            gap: 5vw;
            &-link {
                &:visited {color: #4F75E2;}
                &:hover {color: #1a4cd4;}
            }
        }
    }
    
    .ribbon {
        background-image: url('svg/ribbon.svg');
        background-position: 55% 0;
        height: 50vh;
        margin-top: -3vh;
        &-content{
            height: 80%;
            align-items: unset;
        }
    }
    
    .main {
        &-presentation-text {
            top: calc(100vh - 63vh);
            left: $margin-left;
            &-quote {
                width: 60ch;
                padding-left: 1.5vw;
            }
        }
        &-recruitment {
            &-top {
                gap: $gap;
                flex-direction: row;
                text-align: justify;
                &-img {height: 8vh;}
            }
            &-sections{
                flex-direction: row;
                gap: 2vw;
                &-section {
                    align-items: flex-start;
                    &-description {
                        gap: $gap;
                        &-img {height: 8vh;}
                    }
                }
            }
        }
        &-training {
            padding: 2% $margin-left;
            align-items: unset;
            margin: -3vh 0 5vh 0;
            &-content {
                grid-template-columns: 23vw 6vw 23vw;
                row-gap: 5vh;
                &-section {
                    flex-direction: column;
                    &-element {
                        display: flex;
                        justify-content: flex-start;
                        flex-direction: row;
                        gap: $gap;
                        &--small {width: 18vw;}
                        &-text {
                            width: auto;
                            text-align: justify;
                            &--black {color: #172144;}
                        }
                        &-img {
                            height: 7vh;
                            &--big {height: 10vh;}
                        }
                    }
                }
            }
        }
        &-consulting-steps {
            display: grid;
            grid-template-columns: 28vw 28vw;
            place-self: center;
            row-gap: 5vh;
            gap: $gap;
            &-step {
                &-number {height: 12vh;}
                gap: $gap;
            }
        }
    }
    .footer-contact-social {
        justify-content: center;
        &-network-text {display: block;}
    }

    .error {
        &-main-content {
            flex-direction: row;
            &-img {height: 10vw;}
            &-text {text-align: left;}
        }
    }
}