$header-height: 74px;
$footer-height: 48px;

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}

.header {
  background: #e8e8e8;
  box-shadow: 5px 1px 15px 3px #E8E8E8;
  height: $header-height;
  display: grid;
  place-items: center;
  &-img {height: 62%}
}

.main {
  height: calc(100vh - #{$header-height + $footer-height});
  display: grid;
  place-items: center;
}

.maintenance {
  display: flex;
  flex-direction: column;
  gap: 2vw;

  &-img {height: 10vw}
  &-text {
    color: #4F75E2;
    text-align: center;
    font-size: clamp(10px, 1.5vw, 48px);
    width: 32ch;
  }
}

.footer {
  height: $footer-height;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #e8e8e8;
  box-shadow: 5px 1px 15px 3px #E8E8E8;
  gap: 2vw;

  &-link {
    color: #172144;
    display: flex;
    align-items: center;
    font-size: 1.2em;
    text-decoration: none;
    gap: 0.5em;

    &-text {
      display: none;
      &-icon {
        height: 2vh;
        &_bubble {height: 2.5vh}
      }
    }
  }
}

@media only screen and (min-width: 941px) {
  .maintenance {
    flex-direction: row;
    &-text {text-align: left}
  }

  .footer {
    justify-content: center;
    &-link-text {display: block}
  }
}
